<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Список авторов</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="common/menu::menu"/>
<div class="container">
    <div class="page-header">
        <h3>Список авторов</h3>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th scope="col">Имя</th>
        </tr>
        </thead>
        <tbody>
    </table>
    <a th:href="@{/authors/create}" class="btn btn-default">Создать</a>
</div>
<script>
    $(function () {
        $.get('/api/authors').done(function (authors) {
            authors.forEach(function (author) {
                $('tbody').append(`
                    <tr>
                        <td>${author.id}</td>
                        <td>${author.name}</td>
                    </tr>
                `)
            });
        })
    });
</script>
</body>
</html>
